div {
  background: resolve('arnold-noodles.gif');
}

p {
  background: resolve('arnold-shut-up.gif');
}

ul {
  background: resolve('arnold-handshake.gif');
}

div,
p,
ul {
  height: 500px;
  background-size: auto;
}  

body {
  height: 100px;
}