body {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-radius: 10px; }

a {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%); }

::-webkit-input-placeholder {
  color: gray; }

:-ms-input-placeholder {
  color: gray; }

::-ms-input-placeholder {
  color: gray; }

::placeholder {
  color: gray; }
