div {
  background: url('images/arnold-noodles.gif'); }

p {
  background: url('media/arnold-shut-up.gif'); }

ul {
  background: url('src/arnold-handshake.gif'); }

div,
p,
ul {
  height: 500px;
  background-size: auto; }

body {
  height: 100px; }
